:root {
    --primary-color: #2c3e50;
    --secondary-color: #3498db;
    --accent1-color: #65350B;
    --accent2-color: #ecf0f1;
    --heading-font: 'Georgia', serif;
    --body-font: 'Arial', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    border-bottom: 5px solid #ccc;
    background-color: #f2f2f2;
}

header img {
    width: 200px;
    padding: 18px;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.navigation {
    display: flex;
    list-style: none;
    gap: 20px;
}

.navigation li {
    flex: 1 1 auto;
    display: inline-block;
    white-space: nowrap;
}

nav ul {
    display: flex;
    list-style: none;
}

.navigation a {
    display: block;
    color: var(--primary-color);
    padding: 10px 15px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
}

.navigation a:hover {
    color: tomato;
    text-decoration: none;
}

section {
    margin: 16px;
    padding: 8px;
    background-color: var(--accent2-color);
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 50px;
    height: auto;
}

.socialmedia {
    display: flex;
    gap: 15px;
    align-items: center;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article img {
    float: right;
    width: 125px;
}

.hero article {
    position: absolute;
    top: 100px;
    background-color: #f2f2f2c8;
    padding: 20px;
    margin: 20px;
    border: 2px solid var(--secondary-color);
}

#adv-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 15px;
}

#adv-section h2 {
    text-align: center;
    grid-column: 1/6;
}

#adv-section img {
    width: 100%;
}

.history-layout {
    display: flex;
    align-items: center;
    gap: 20px;
}

.history-layout img {
    width: 150px;
}

.socialmedia {
    display: flex;
    gap: 15px;
    align-items: center;
}

#adv-history h2 {
    text-align: center;
    padding-bottom: 10px;
}

#footer-layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #f2f2f2;
}