:root {
    --primary-color: #2c3e50;
    --secondary-color: #3498db;
    --accent1-color: #65350B;
    --accent2-color: #ecf0f1;
    --heading-font: 'Georgia', serif;
    --body-font: 'Arial', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer,
#serve-section,
.contact-container {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
}

p {
    text-align: center;
}

header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    border-bottom: 5px solid #ccc;
    background-color: #f2f2f2;
}

header img {
    width: 200px;
    padding: 18px;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.navigation {
    display: flex;
    list-style: none;
    gap: 20px;
}

.navigation li {
    flex: 1 1 auto;
    display: inline-block;
    white-space: nowrap;
}

nav ul {
    display: flex;
    list-style: none;
}

.navigation a {
    display: block;
    color: var(--primary-color);
    padding: 10px 15px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
}

.navigation a:hover {
    color: tomato;
    text-decoration: none;
}

.contact h2 {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 40px;

}

.contact {
    text-align: center;
    background-color: #fff;
    line-height: 0.5px;
}

section {
    margin: 16px;
    padding: 8px;
    background-color: var(--accent2-color);
}

.contact-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-items: start;
}

.maps {
    grid-column: 1;
}

.form {
    grid-column: 2;
    max-width: 500px;
    margin: 5px auto;
    padding: 10px;
}

.maps iframe {
    border: 0;
    width: 100%;
    max-width: 450px;
    height: 550px;
}

.form label,
.form p {
    font-weight: bold;
}

.form input,
.form textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

#legend {
    padding: 0.5rem;
    color: #2c3e50;
    font-size: 1.3em;
}

.subs {
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    margin-top: 10px;
}

.subs input[type="checkbox"],
.form input[type="radio"] {
    display: inline-block;
    width: auto;
}

.radio-option {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    font-size: 16px;
}

.form-buttons {
    text-align: center;
    margin-top: 15px;
}

.form-buttons button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
}

.socialmedia {
    display: flex;
    gap: 15px;
    align-items: center;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 50px;
    height: auto;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.9;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article img {
    float: right;
    width: 125px;
}

.hero article {
    position: absolute;
    top: 100px;
    background-color: #f2f2f2c8;
    padding: 20px;
    margin: 20px;
    border: 2px solid var(--secondary-color);
}

#adv-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 15px;
}

#adv-section h2 {
    text-align: center;
    grid-column: 1/6;
}

#adv-section img {
    width: 100%;
}

.history-layout {
    display: flex;
    align-items: center;
    gap: 20px;
}

#serve-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    justify-content: space-between;
}

/* #trip-descriptions { */
/* display: grid; */
/* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
/* gap: 20px; */
/* margin: 2rem 0; */
/* } */

.trip img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h3 {
    text-align: center;
    margin-top: 10px;
}

#serve-section h2 {
    text-align: center;
    grid-column: 1/4;
}

.history-layout img {
    width: 150px;
    border-radius: 8px;
}

#adv-history h2 {
    text-align: center;
    padding-bottom: 10px;
}

#footer-layout {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #f2f2f2;
}

/* TABLE LAYOUT */

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
    font-family: var(--body-font);
    font-size: 1rem;
}

table th {
    background-color: #65350b;
    color: #fff;
    padding: 12px;
    text-align: center;
    font-weight: bold;
    border: 1px solid #ccc;
}

table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

table tr:nth-child(even) {
    background-color: var(--accent2-color);
}

table tr:hover {
    background-color: #f9f9f9;
    transition: background-color 0.3s ease;
}

/* home */
form label {
    display: block;
    margin-bottom: 15px;
    font-weight: bold;
}

form input,
form textarea {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 8px;
    box-sizing: border-box;
    border-end-end-radius: 10px;
}

figcaption {
    text-align: center;
    font-weight: bold;
}

.employee img {
    width: 225px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin: 10px;
}

.cta {
    text-align: center;
    margin: 2rem 0;
}

.cta-button {
    display: inline-block;
    padding: 10px 12px;
    margin: 5px;
    background-color: #0077cc;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    align-items: center;
}

.cta-button:hover {
    background-color: #005fa3;
}