* {
    margin: 0px;
    padding: 0;
}

body {
    font-family: sans-serif;
    line-height: 1.0;
}

header,
footer {
    background-color: #d6dce5;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 1rem;
}

main {
    width: 400px;
    margin: 0 auto;
    text-align: justify;
}

h1,
h2 {
    margin: 20px;
    text-align: center;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 1.5rem;
}

h2 {
    margin: 20px;
    text-align: center;
    font-size: 1rem;
}

main img {
    width: 100%;
    height: auto;
    box-shadow: 0 0 20px #444;
    margin: 20px 0;
    border-radius: 50px;
}

p {
    padding: 0;
}

aside {
    width: 200px;
    margin: 2em;
    padding: 1em;
    border: #444;
    background-color: #d2d2dc;
    text-align: center;
    color: #181819;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 1em;
}

aside img {
    border-radius: 50px;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    box-shadow: 0 0 20px #444;
}

ul {
    margin: 10px 20px;
}

footer {
    font-size: 1rem;
    color: black;
}