nav {
    background-color: #203144;
    padding: 10px;
}

nav a {
    color: #f1f3f6;
    padding: 10px;
    display: block;
}

main image {
    width: max-content;
    height: auto;
    border: 1px solid #475463;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

h1 {
    color: #203144;
}

p {
    padding: 0;
}

aside {
    width: 200px;
    margin: 2em;
    padding: 1em;
    border: #444;
    background-color: #acafb4;
    text-align: center;
    color: #203144;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 1em;
}

aside img {
    border-radius: 200px;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    box-shadow: 0 0 20px #444;
}